@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

/*  */

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  height: 100%;
  padding: 80px 0;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 28px;
}

/* Nav Section */
nav {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.nav__container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px;
}

.nav__links {
  display: flex;
  gap: 20px;
}

.nav__buttons__links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__img__link {
  width: 145px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__link,
.nav__button__link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.nav__button__link:hover {
  color: #ff4d30;
  transition: 200ms;
}
.nav__link:hover {
  color: #ff4d30;
  transition: 200ms;
}

.nav__button {
  border: none;
  color: white;
  cursor: pointer;
  background-color: #ff4d30;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
}

.nav__button:hover {
  background-color: #ff4d30;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
}

/* Nav__Menu */

.nav__open {
  border: none;
  background-color: transparent;
  font-size: 24px;
  display: none;
  cursor: pointer;
}

.nav__menu {
  position: relative;
  position: fixed;
  background-color: #f8f8f8;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open .nav__menu {
  visibility: visible;
  opacity: 1;
}

.nav__close {
  border: none;
  background-color: transparent;
  font-size: 24px;
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.menu__link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
}

/* Header Section */

header {
  background-color: #f8f8f8;
  height: 100vh;
}

.header__row {
  display: flex;
  align-items: center;
  position: relative;
}

.header__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.header__img__wrapper {
  position: absolute;
  width: 65%;
  right: 0;
  z-index: 2;
  margin-top: 56px;
}

.header__img {
  width: 100%;
  height: 100%;
}

.header__text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 12px;
  margin-top: 56px;
  z-index: 3;
}

.header__text__subtitle {
  font-size: 20px;
  font-weight: 700;
}

.header__text__title {
  font-size: 52px;
  line-height: 1.2;
  font-weight: 700;
}

.header__span {
  color: #ff4d30;
}

.header__para {
  font-size: 16px;
  color: #706f7b;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header__book__button {
  font-size: 16px;
  color: white;
  background-color: #ff4d30;
  border: none;
  cursor: pointer;
  padding: 18px 30px;
  outline: none;
  border-radius: 4px;
  font-weight: 700;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  transition: 200ms;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__learn__button {
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  padding: 18px 30px;
  outline: none;
  border-radius: 4px;
  font-weight: 700;
  border: 2px solid black;
  transition: 200ms;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__buttons__wrapper {
  display: flex;
  gap: 16px;
}

.header__book__button:hover {
  background-color: #ff4d30;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
}

.header__learn__button:hover {
  background-color: transparent;
  border-color: black;
  color: black;
}

/* steps */

.steps__subtitle {
  font-size: 24px;
}

.steps__title {
  font-size: 42px;
}

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.steps__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.steps__description__title {
  font-size: 24px;
}

.steps__description__para {
  font-size: 16px;
  color: #706f7b;
  max-width: 300px;
}

.steps__description__wrapper {
  display: flex;

  padding: 0 32px;
  margin-top: 36px;
  gap: 56px 120px;
}

/* Banner */

.banner {
  background-color: #2d2d2d;
}

.banner__title {
  color: white;
  font-size: 52px;
  font-weight: 700;
}

.banner__sub__title {
  font-size: 24px;
  color: white;
  font-weight: 400;
}

.banner__span {
  color: #ff4d30;
}

.banner__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 20px;
  gap: 16px;
  text-align: center;
}

/* choose */

.choose {
  background-image: url(./assets/download-7.png);
  background-position: -255px 255px;
  background-repeat: no-repeat;
  background-size: cover;
}

.choose__img__wrapper {
  width: 100%;
}

.choose__img {
  width: 100%;
  height: 100%;
}
.choose__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.choose__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose__leftside__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 14px;
}

.choose__leftside__subtitle {
  font-size: 22px;
}

.choose__leftside__title {
  font-size: 42px;
  max-width: 500px;
  line-height: 1.2;
}

.choose__leftside__para {
  font-size: 16px;
  color: #706f7b;
  max-width: 500px;
}

.choose__leftside__button {
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #ff4d30;
  padding: 18px 30px;
  border-radius: 4px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
}

.choose__lheftside__button:hover {
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
  background-color: #f82f10df;
}

.choose__rightside__content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.choose__rightside__description {
  display: flex;
  gap: 12px;
}

.choose__rightside__description__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.choose__rightside__img__wrapper {
  width: 110px;
  height: 110px;
}

.choose__rightside__img {
  width: 100%;
}

.choose__rightside__title {
  font-size: 24px;
}

.choose__rightside__para {
  font-size: 15px;
  color: #706f7b;
  max-width: 320px;
}

/* Testimonials */

.Testimonials {
  background-color: #f8f8f8;
}

.test__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.test__subtitle {
  font-size: 22px;
}

.test__title {
  font-size: 42px;
}

.test__para {
  font-size: 16px;
  color: #706f7b;
  max-width: 700px;
  margin-top: 20px;
}
/*  */
.Testimonials__list {
  display: flex;
  margin-top: 80px;
  gap: 24px;
}

.Testimonial {
  background-color: white;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  padding: 56px;
  gap: 40px;
}

.Testimonial__review {
  font-size: 22px;
  text-align: left;
}

.Testimonial__info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Testimonial__img__wrapper {
  width: 72px;
  height: 72px;
  border-radius: 9999px;
  overflow: hidden;
}

.Testimonial__img {
  width: 100%;
  height: 100%;
}

.Testimonial__info__wrapper {
  display: flex;
  flex-direction: column;
}

.Testimonial__name {
  font-size: 18px;
  font-weight: 700;
}

.Testimonial__location {
  font-size: 16px;
}

.testimonial__info__icon {
  font-size: 42px;
  color: #ff4d30;
  margin-left: auto;
}

/* download */

.download {
  background-image: url(./assets/download-8.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 550px;
}

.download__tile {
  font-size: 42px;
}

.download__para {
  font-size: 16px;
  color: #706f7b;
}

.download__img__wrapper {
  display: flex;
  gap: 32px;
  max-width: 550px;
}

.download__img {
  width: 100%;
  height: 100%;
}

.download__link {
  width: 40%;
}

/* footer */

.footer__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 16px;
}

.footer__intro {
  width: 25%;
}

.footer__intro__title {
  font-size: 24px;
}

.footer__intro__para {
  font-size: 16px;
  color: #706f7b;
}

.footer__intro__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__intro__link {
  text-decoration: none;
  color: black;
}

.footer__intro__link:hover {
  color: #ff4d30;
  transition: 200ms;
}

.footer__company__title {
  font-size: 24px;
  text-transform: uppercase;
}

.footer__company__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__company__link {
  text-decoration: none;
  color: black;
}

.footer__company__link:hover {
  color: #ff4d30;
  transition: 200ms;
}

.footer__hours__title {
  text-transform: uppercase;
  font-size: 24px;
}

.footer__hours__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__hours__time {
  font-size: 16px;
}

.footer__email__title {
  font-size: 24px;
  text-transform: uppercase;
}

.footer__email__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__email__form__input {
  padding: 0 16px;
  background-color: #ececec;
  border: none;
  outline: none;
  height: 48px;
}

.footer__email__form__submit {
  border: none;
  cursor: pointer;
  outline: none;
  height: 48px;
  background-color: #ff4d30;
  color: white;
  font-size: 16px;
  transition: 200ms;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  border-radius: 4px;
  font-weight: 700;
}

.footer__email__form__submit:hover {
  background-color: #ff4d30;
  transition: 200ms;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
}

/* XL Screens */

@media (max-width: 1280px) {
  .footer__content {
    width: 40%;
  }

  .footer__row {
    gap: 48px;
  }
}

@media (max-width: 1024px) {
  .nav__open {
    display: block;
  }

  .nav__link {
    display: none;
  }

  .nav__buttons__links {
    display: none;
  }

  .steps__description__wrapper {
    flex-wrap: wrap;
    gap: 40px;
  }

  .steps__description {
    width: 45%;
  }

  .choose__wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .choose__leftside__description {
    align-items: center;
  }

  .Testimonials__list {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .header__bg,
  .header__img {
    display: none;
  }

  .header__text {
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .steps__description {
    width: 100%;
  }

  .steps__description__para {
    max-width: 100%;
  }

  .download {
    background-image: none;
  }

  .text {
    align-items: center;
    margin: auto;
    text-align: center;
  }

  .download__img__wrapper {
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .footer__row {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .footer__content {
    width: 100%;
  }

  .Testimonial {
    padding: 32px;
  }

  .testimonial__review {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .header__buttons__wrapper {
    flex-direction: column;
    width: 100%;
  }

  .header__book__button,
  .header__learn__button {
    justify-content: center;
  }

  .choose__rightside__description {
    flex-direction: column;
    align-items: center;
  }

  .choose__rightside__para {
    max-width: 100%;
  }

  .Testimonial__review {
    font-size: 18px;
  }

  .download__img__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .download__link {
    width: 100%;
  }

  .download__img {
    width: 100%;
    height: 100%;
  }
}
